body {
    background-color: black;
}

.gotoButton {
    float: right;
}


.floatingMenu {
    border: 1px solid dimgrey;
    color: yellow;
    background-color: dimgrey;
    position: fixed;
    bottom: 100px;
    right: 10px;
}


.div_button {
    margin-right: auto;
    float: right;
}

.headLine {
    background-color: black;
    width: 700px;
    margin: auto;
    text-align: center;
    border-bottom:3px solid white;
}

#TeamName {
    font-size: 100px;
    color: #dbd823;
    text-shadow: 4px 5px 1px dimgrey;
}

#RealTeamName {
    font-size: 30px;
    color: #dbd823;
}
#click{
    width: 200px;
}
.main {
    border-radius: 10px;
    width: 100%;
    height: 1000px;
    background-color: black;
    /*background-image: linear-gradient(black, #fee0ff);*/
}

#link {
    color: black;
    font-size: 70px;
    text-align: center;

}

#first_project {
    font-size: 50px;
    text-align: center;
    color: #dbd823;
    text-shadow: 2px 3px 1px dimgrey;
}

#img {
    float: left;
    width: 700px;
}

.info {
    background-color: black;
    width: 300px;
    height: 100px;
    margin: auto;
    color: lavender;
}

#img {
    width: 700px;
    height: 355px;
}

#icon{
    width: 30px;
    height: 30px;
}

#second_project {
    font-size: 50px;
    color: #dbd823;
    text-shadow: 2px 3px 1px dimgrey;
    text-align: center;
}

a {
    text-decoration: none;
    color: LavenderBlush;
}

.floatingMenu {
    border-radius: 20px 0px 0px 20px;
    width: 70px;
    height: 150px;
}

.clock{
    background-color: white;
}
